@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

html,body,#root{
  height: 100%;
  width: 100%;
  @apply montserrat;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}